
@{
    ViewData["About"] = "About";
    var name = "Liz Cruz";
    var studentNumber = "101470163";
    var courseCode = "COMP2139";
    var courseSection = "50262";
    var term = "Winter";
}

<!DOCTYPE html>
<html>
    <head>
        <title>My page tittle</title>
    </head>
    <body>
    <div class="text-center">
        <h1 class="display-4">About me</h1>
        <p>Student Name: @name</p>
        <p>Student Number: @studentNumber</p>
        <p>Course Code: @courseCode</p>
        <p>Course Section: @courseSection</p>
        <p>Term: @term</p>
    </div>

    </body>


</html>


